<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeerRecipe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BeerRecipe.Properties.Settings>
            <setting name="Malt_List" serializeAs="String">
                <value />
            </setting>
            <setting name="Malt_Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="Malt_Percentage" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Recipe_BatchVolum" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Recipe_OriginalGravity" serializeAs="String">
                <value>1.04</value>
            </setting>
            <setting name="Recipe_BoilTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Recipe_BoilOfRate" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="Recipe_BHE" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Recipe_WLIG" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Recipe_WGR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Recipe_FermenterTrubLoss" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Recipe_KettleLoss" serializeAs="String">
                <value>3.5</value>
            </setting>
            <setting name="Recipe_AdjustForVolTempChangeInWater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrainList" serializeAs="String">
                <value />
            </setting>
        </BeerRecipe.Properties.Settings>
    </userSettings>
</configuration>